<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books - Spring app</title>
</head>
<body>
    <h1>Books list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
    </table>

    <ul th:each="book : ${books}" >
        <li th:text ="${book.id}"> </li>
        <li th:text ="${book.title}"> </li>
        <li th:text ="${book.publisher.name}"> </li>
    </ul>

</body>
</html>